hr {
	border-color: #f8fafc24;
}

main {
	margin: 0 auto;
	width: 75%;
}

.navContainer {
	position: sticky;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 15em;
	font-size: 1.2em;
	background: rgba(21, 21, 21);
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.navContainer p {
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(220, 220, 220);
}

.navLink {
	text-decoration: none;
	color: rgba(199, 199, 199);
	transition: 0.2s ease;
	font-size: 1.1em;
	padding: 0 10px;
}

.navLink:hover {
	color: rgb(81, 139, 179);
}

@media (max-width: 767px) {
	.navContainer {
		padding: 10px 5px;
	}

	.navLink {
		font-size: 0.8em;
	}

	.navContainer p {
		font-size: 1em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.navContainer {
		padding: 15px 5px;
	}
}

@media (min-width: 376px) and (max-width: 430px) {
	.navContainer {
		padding: 10px 10px;
		font-size: 1em;
	}

	.navContainer p {
		font-size: 1.1em;
	}

	.navLink {
		font-size: 0.9em;
	}
}